.calc-wrapper {
    font-size: 24px;
    font-weight: bold;
}

.calc-display {
    height: 40px;
    width:  220px;
    background-color: #f2f2f2;
    margin: 10px;
    text-align: end;
    padding-right: 10px;
}

.calc-button {
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 4px;
    line-height: 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.calc-button:hover {
    background-color: #cbcbcb;
}

.calc-numbers {
    width: 180px;
    vertical-align: top;
}
.calc-numbers * {
    display: inline-block;
}

.calc-buttons > * {
    display: inline-block;
}

.calc-operators > * {
    margin-bottom: 20px;
}